* {
    background-color: white;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.login {
    margin-top: 150px;
    text-align: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    margin: 0 auto; /* Center the form */
}
h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
label {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}
input[type="submit"] {
    width: 90%;
    padding: 10px;
    border-radius: 15px; 
    background-color: brown;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]:hover {
    background-color: darkred;
}
h6 {
    margin-top: 10px;
}
h6 input[type="submit"] {
    width: auto;
    padding: 5px 15px;
    font-size: 14px;
}
.dashboard {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}